h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 50px;

}

body {
    font-family: sans-serif;
    background-color:#5f5fc8 ;
}

nav {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px black;
}

nav a {
    margin: 0 25px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: white;
    color: #4bb1a9;
    transform: translateY(-2px);
}

.container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}

form {
  margin: 100px 0;
}

input {
  margin: 20px 0;
  width: 50%;
  padding: 10px;
}
